#estimate h1 {
  text-align: center;
  font-size: 1.3em;
}

#estimate h1::after {
  content: '';
  display: block;
  background: #59C4F2;
  height: 3px;
  width: 2em;
  margin: 5px auto;
}

#estimate .boxwrap {
  max-width: 800px;
  width: 95%;
  margin: 50px auto 80px;
}

#estimate .title {
  position: relative;
  width: 100%;
  margin: 1em auto;
  letter-spacing: 0.2em;
}

#estimate h2 {
  font-size: 1em;
  margin: 0;
  position: absolute;
  bottom: 0;
}

#estimate .title p {
  float: left;
  font-size: 0.5em;
  margin: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
}

#estimate .box {
  position: relative;
  padding: 2.5em 1em;
  margin: 0 auto;
  font-weight: bold;
  border: solid 5px;
  border-color: #A5A5A5;
  letter-spacing: 0.3em;
  line-height: 2em;
}

#estimate .box.blue {
  border-color: #59C4F0;
}

#estimate .box:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -32px;
  left: 0;
  width: 0px;
  height: 0px;
  margin: auto;
  border-style: solid;
  border-color: #A5A5A5 transparent transparent transparent;
  border-width: 30px 30px 0 30px;
}

#estimate .box.blue:after {
  border-color: #59C4F0 transparent transparent transparent;
}

#estimate table th {
  width: 250px;
  text-align: left;
}

#estimate .input {
  margin: 5px 15px 5px 5px;
  width: 430px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #estimate .box {
    font-size: 0.5em;
  }
  #estimate table th {
    width: 100px;
    text-align: left;
  }
  #estimate .input {
    width: 150px;
    margin-right: 0;
  }
}

#estimate input,
select {
  height: 2.2em;
}

#estimate select {
  margin-left: 5px;
}

#estimate .inner_input {
  display: inline-block;
  width: 48%;
  margin: 0;
  padding: 0;
}

#estimate .input input {
  width: 100%;
  box-sizing: border-box;
}

#estimate .radio label {
  display: inline-block;
  width: 110px;
  font-size: 0.8em;
}

#estimate input[type="radio"] {
  margin-right: 0;
  vertical-align: middle;
}

#estimate .purpose td {}

#estimate table {
  table-layout: fixed;
}

#estimate .narrow {
  width: 100px;
}

#estimate input+span {
  margin-left: 0.5em;
}

#estimate .bus_box {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#estimate .bustype {
  width: 320px;
  height: 300px;
  margin-top: 40px;
  border-radius: 10px;
  border: solid 3px #EEEEEE;

}

#estimate .label_wrap {
  margin: 20px;
  text-align: center;
}

#estimate .img_wrap {
  margin-top: 5px;
  height: 150px;
}

#estimate .bus_desc {
  font-size: 0.8em;
  letter-spacing: 0.2em;
}

#estimate .input_round {
  /*background-color: blue;*/
  border-radius: calc(1.2em + 10px);
  width: 95%;
  height: auto;
  padding:5px;
  margin: auto;
  border: solid 3px #EEEEEE;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  vertical-align: middle;
  align-items: center;
}

#estimate .date{
  justify-content:flex-start;
}

#estimate .input_set{
  margin-left: 1.2em;
  /*padding: 0;*/
  /*width: 44%;*/
  height:auto;
  /*background-color: blue;*/
}

#estimate .input_date:after{
  font-family: 'FontAwesome';
  content: "\f073";
}

#estimate .btn-square-pop {
  /*position: relative;*/
  /*display: inline-block;*/
  padding: 1em 4em;
  /*text-decoration: none;*/
  color: #000;
  background: #FCD266;/*背景色*/
  border-bottom: solid 2px #d27d00;
  border-radius: 5px;
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.2), 0 2px 2px rgba(0, 0, 0, 0.19);
  font-weight: bold;
  width: 150px;
  margin: 0 auto;
  text-align: center;
}

#estimate .btn-square-pop:active {
  border-bottom: solid 2px #FCD266;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.30);
}

#estimate #btn_submit{
  font-size: 1.2em;
    background-color: rgb(0,0,0,0);
    border-style: none;
}