/* heading */

header { position: fixed; z-index: 10; background-color: #fff; width: 100%; }

.title {
    width: 1170px;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    height: 75px;
}

.title .logo, .subtitle {
    display: inline-block;
}

.logo{ margin-top: -6px;}
.logo img { width: 128px; }

.subtitle { position: relative; bottom: -10px; }
.subtitle p { font-weight: 600; margin-bottom: 0; }

.txtxs { font-size: 14px; font-weight: 300; }

.contactpc { cursor: pointer; position: absolute; right: 0px; top: 16px; color: #fff; padding: 11px 40px; background-color: #da6b64; border-radius: 25px; }
.contactpc:hover { background-color: #d84940; text-decoration: none; }
.contactpc p { margin: 0; }
.contactsp { display: none; }


@media only screen and (max-width: 1190px) and (min-width: 768px) {
    .subtitle { font-size: 12px; font-weight: 300; letter-spacing: 0; }
    .txtxs { font-size: 12px; font-weight: 300; letter-spacing: 0; }
}

@media screen and (max-width: 768px) {
    .title { position: relative; padding: 0; height: 62px; max-width: 100%; }
    .logo { position: absolute; top: 25px; left: 10px;  margin-top:0;}
    .logo img { width: 90px; }
    .subtitle { position: absolute; top: 8px; left: 10px; font-size: 10px; font-weight: 600; letter-spacing: 0px; }
    .txtxs { font-size: 12px; font-weight: 300; letter-spacing: 0; }
    .contactpc { display: none; }
    .contactsp { display: block; text-align: center; position: absolute; right: 0px; top: 0; padding: 9px 11px; background-color: #da6b64; }
    .contactsp img, .contactsp a { margin: auto; display: block; }
    .contactsp img { width: 20px; }
    .contactsp a { font-size: 12px; color: #fff; }
}

/*--main--*/
.main { padding-top: 75px; }
.cover-img { background-image: url("../Images/main.jpg"); background-position: center; height: 500px; display: table; width: 100%; background-size: cover; }
.mainlogo { width: 317px; margin-bottom: 20px; }
.cover-text { display: table-cell; vertical-align: middle; text-align: center; }
.txtl { font-size: 28px; font-weight: 600; }
.txtm { font-size: 20px; font-weight: 600; }

@media only screen and (min-width: 768px) and (max-width: 1190px) {
  .txtl { font-size: 24px; font-weight: 600; }
  .txtm { font-size: 16px; font-weight: 600; }
}

@media screen and (max-width: 768px) {
  .main { padding-top: 60px; }
  .cover-img { background-image: url("../Images/mainsp.jpg"); height: 312px; }
  .cover-text p { margin-bottom: 0; }
  .mainlogo { max-width: 317px; width:90%; margin: 20px; }
  .txtl { font-size: 18px; font-weight: 600; }
  .txtm { font-size: 15px; font-weight: 600; }
}

/*--conversion--*/
.conversion { background-color: #ebb94d; padding: 30px 0; text-align: center; }
.conversion, .conversionbtn p { color: #fff; }
.conversionbtn { cursor: pointer; padding: 30px 120px; background-color: #da6b64; border-radius: 50px; color: #fff; margin: 45px auto; max-width: 1028px; }
.conversionbtn:hover { background-color: #d84940; text-decoration: none; }
.conversionbtn p { margin: 0; }
.brsp { display: none; }
.conversion .txtxs { letter-spacing: 1.5px; }

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.list-inline { padding-left: 0; margin-left: -5px; list-style: none; }
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

/*.conversion .tw-btn{ position:relative; width:75px;	height:22px; }*/
/*.conversion .tw-btn iframe{ position:absolute !important;	top: 2px;	left: 12px; }*/
.conversion .twitter-share-button { margin-right: -8px; }

@media screen and (max-width: 768px) {
  .brsp { display: block; }
  .conversion { padding: 15px 0; }
  .conversion .txtl { font-size: 20px; letter-spacing: 0; }
  .conversion .txtl p { margin: 0; }
  .conversionbtn { padding: 15px 20px; margin: 10px 20px; margin-top: 25px; margin-bottom: 10px; }
  .conversion .txtxs { font-size: 10px; max-width: calc(100% - 20px); margin: 0 auto; }
  .conversion .list-inline { margin-bottom: 10px; }
}

/*--introduction--*/
.introduction { background-image: url(../Images/introbottom.jpg); background-size: cover; background-position: center; height: 587px; text-align: center; margin-top: 40px; }
.contents { padding: 40px 0; letter-spacing: 1.5px; }
.contents p { margin-bottom: 2.4rem; font-weight: 300; }
.underline { font-weight: bold; background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #ebb94d)); background: linear-gradient(transparent 70%, #ebb94d 70%); }

.yellowbracketswide { margin: 0 auto; position: relative; width: 860px; max-width: calc(100% - 40px); padding: 15px 0px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.yellowbracketswide::before, .yellowbracketswide::after { position: absolute; content: ""; width: 50px; height: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.yellowbracketswide::before { top: 0; left: 0; border-top: 4px solid #ebb94d; border-left: 4px solid #ebb94d; }
.yellowbracketswide::after { bottom: 0; right: 0; border-bottom: 4px solid #ebb94d; border-right: 4px solid #ebb94d; }

.introduction h2 { margin-top: 20px; margin-bottom: 10px; line-height: 40px; }

@media screen and (max-width: 768px) {
  .txtl { font-size: 18px; font-weight: 600; }
  .introduction { margin-top: 30px 0; height: inherit; background-repeat: no-repeat; background-size: contain; background-position: center bottom; }
  .yellowbracketswide { margin: 0 auto; position: relative; width: 95%; max-width: calc(100% - 10px); padding: 5px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .yellowbracketswide::before, .yellowbracketswide::after { position: absolute; content: ""; width: 30px; height: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }
}

/*--aboutisara--*/
.about { padding: 0 0 40px 0; background-color: #fef5e0; text-align: center; }
.abouticon { position: relative; top: -40px; }
.circle1 { color: #fff; background-color: #ebb94d; padding: 0; margin: 0; width: 80px; height: 80px; line-height: 80px; text-align: center; display: inline-block; border-radius: 50%; }
.abouttitle p { margin-top: 40px; }
.aboutbox { width: 1170px; max-width: calc(100% - 40px); margin: 30px auto; padding: 30px; background-color: #fff; border: 2px solid #ebb94d; border-radius: 5px; }
.aboutbox .txts { margin-top: 10px; font-size: 12px; font-weight: 300; }
.aboutbox .container { margin-top: 30px; }
.box { padding: 10px; display: inline-block; }

.yellowbracketsnarrow { margin: 0 auto; position: relative; width: 860px; max-width: calc(100% - 40px); padding: 15px 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.yellowbracketsnarrow::before, .yellowbracketsnarrow::after { position: absolute; content: ""; width: 50px; height: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.yellowbracketsnarrow::before { top: 0; left: 0; border-top: 4px solid #ebb94d; border-left: 4px solid #ebb94d; }
.yellowbracketsnarrow::after { bottom: 0; right: 0; border-bottom: 4px solid #ebb94d; border-right: 4px solid #ebb94d; }

.about h2 { margin-top: 20px; margin-bottom: 10px; line-height: 40px; }

@media screen and (max-width: 768px) {
  .circle1 { width: 60px; height: 60px; line-height: 60px; font-size: 12px; }
  .yellowbracketsnarrow { margin: 0 auto; position: relative; width: 95%; max-width: calc(100% - 20px); padding: 10px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .yellowbracketsnarrow::before, .yellowbracketsnarrow::after { position: absolute; content: ""; width: 30px; height: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .box img { height: 30px; }
  .aboutbox .txts { font-size: 10px; }
}

/*--aboutsecond--*/
.aboutsecond { background-image: url(../Images/aboutsecondbg.jpg); background-size: cover; background-position: center; padding: 40px 0; text-align: center; }
.aboutsecond h2 { margin-bottom: 20px; }
.aboutsecond h2, .aboutsecond p { color: #fff; }
.aboutsecond .yellowtxt { color: #ebb94d; }
.aboutsecond .sidebox { padding: 30px 30px 20px 20px; background-color: #fff; border-radius: 5px; }
.aboutsecond .step { background-color: #ebb94d; border-radius: 5px; }
.aboutsecond .sidecontents p { color: #000000; font-weight: 600; }

@media screen and (max-width: 768px) {
  .aboutsecond .sidebox { width: 100%; margin: 0 auto 15px; padding: 15px 50px; }
  .aboutsecond .sidecontents p { margin: 0; }
  .aboutsecond .txts { font-size: 12px; font-weight: 600; }
}

/*--aboutthird--*/
.aboutthird { padding: 40px 0; text-align: center; background-color: #016ea9; color: #fff; }
.aboutthird p { margin: 0; }
.aboutthird .yellowtxt { color: #ebb94d; }

/*--learning--*/
.learning { text-align: center; padding: 40px 0; }
.learning .txtl { margin-bottom: 35px; }
.learning .txtm { font-weight: 300; }
.learning .container { width: 860px; max-width: calc(100% - 40px); margin: 40px auto; }
/*.learningbox img { width: 180px; }*/
.learningbox img { width: 100%; }
.learning .txts { font-size: 16px; font-weight: 600; }
.learning .sidebox { padding: 30px 30px 20px 20px; background-color: #ebb94d; border-radius: 5px; }

@media screen and (max-width: 576px) {
  .learningbox { padding: 10px 40px; }
  .learningbox img { width: 70%; }
}


/*--merit--*/
.merit { padding: 40px 0; text-align: center; background-color: #fef5e0; }
.merit .learnfromfreelancer { height: 180px; background-image: url(../Images/learnfromfreelancer.jpg); background-position: center; background-size: cover; }
.merit .learnfromprojects { height: 180px; background-image: url(../Images/learnfromprojects.jpg); background-position: center; background-size: cover; }
.merit .actuallyfree { height: 180px; background-image: url(../Images/actuallyfree.jpg); background-position: center; background-size: cover; }
.merit .container { margin-top: 40px; }
.merit .container .row div p { text-align: left; font-weight: 300; margin: 8px 0; }
.merit .support { width: 1170px; max-width: calc(100% - 40px); background-color: #fff; padding: 40px 20px; margin: 40px auto; border: 2px solid #ebb94d; border-radius: 5px; }
.merit .yellowtxt { color: #ebb94d; }
.merit b { font-weight: 700; }

@media screen and (max-width: 991px) {
  .learnfromfreelancer, .learnfromprojects, .actuallyfree { width: 300px; margin: 0 auto; }
}

@media only screen and (min-width: 768px) and (max-width: 1190px) {
  .merit { padding: 30px 50px; }
  .merit p.yellowtxt { text-align: center !important; }
}

@media screen and (max-width: 768px) {
  .merit .yellowbracketsnarrow { margin: 0 auto; position: relative; width: 95%; max-width: calc(100% - 20px); padding: 10px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .merit .yellowbracketsnarrow::before, .yellowbracketsnarrow::after { position: absolute; content: ""; width: 30px; height: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .learnfromfreelancer, .learnfromprojects, .actuallyfree { width: 100%; }
  .merit p.yellowtxt { text-align: center !important; }
}

/*--teacher--*/
.teacher { padding: 70px 0; text-align: center; background-image: url(../Images/teacherbg.jpg); background-position: center; background-size: cover; color: #fff; }
.teacher h2, h3 { line-height: 40px; }
.teacher>p { padding-top: 20px; }
.teacher .txts { font-size: 16px; font-weight: 600; letter-spacing: 1px;}
.teacherbox { padding: 0; max-width: 780px; margin: 0 auto; }
.teacherbox img { position: relative; bottom: -35px; border-radius: 50%; }
.teacher .detail { padding: 40px; border: 3px solid #fff; }
.teacher .txtleft { text-align: left; }
.teacher .detail .txts { font-weight: 300; }

@media only screen and (min-width: 768px) and (max-width: 1190px) {
  .teacher { padding: 50px; }
}

@media screen and (max-width: 768px) {
  .teacherbox { padding: 15px; margin: 0 auto; }
}

/*--why--*/
.why { position: relative; padding: 40px 0; text-align: center; background-color: #ebb94d; color: #fff; }
.why:after { content: ""; height: 0; position: absolute; width: 0; border: 25px solid transparent; border-top-color: #ebb94d; top: 100%; left: 50%; margin-left: -25px; }
.why .circle2 { color: #ebb94d; background-color: #fff; padding: 0; margin: 0; width: 80px; height: 80px; line-height: 80px; text-align: center; display: inline-block; border-radius: 50%; }
.why .whitebrackets { margin: 0 auto; position: relative; width: 860px; max-width: calc(100% - 40px); padding: 15px 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.why .whitebrackets::before, .whitebrackets::after { position: absolute; content: ""; width: 50px; height: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.why .whitebrackets::before { top: 0; left: 0; border-top: 4px solid #fff; border-left: 4px solid #fff; }
.why .whitebrackets::after { bottom: 0; right: 0; border-bottom: 4px solid #fff; border-right: 4px solid #fff; }

@media only screen and (min-width: 768px) and (max-width: 1190px) {
  .why .txtl { font-size: 18px; }
  .why h2, h3 { line-height: 40px; }
}

@media screen and (max-width: 768px) {
  .why .txtl { font-size: 14px; }
  .why h2, h3 { line-height: 40px; }
  .why .whitebrackets { margin: 0 auto; position: relative; width: 95%; max-width: calc(100% - 20px); padding: 10px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; }
  .why .whitebrackets::before, .why .whitebrackets::after { position: absolute; content: ""; width: 30px; height: 30px; -webkit-box-sizing: border-box; box-sizing: border-box; }
}

/*--answer--*/
.answer { padding: 40px 0; text-align: center; }
.answer .client.voice { padding: 20px 0; font-size: 18px; text-align: left; font-style: italic; color: #777; }
.answer .client.voice .col-xs-4 { padding-left: 0; }
.answer .client.voice .col-xs-8 { padding-right: 0; }
.answer .client.voice small { display: inline-block; margin-top: 8px; text-decoration: underline; }
.answer .client.voice p { margin-top: 15px; }

.answer img { width: auto; height: auto; max-width: 100%; max-height: 100%; }
.answer img { border: solid; border-color: #ebb94d; }

.answer .txts { font-size: 16px; font-weight: 600; }

@media screen and (max-width: 768px) {
  .answer .client.voice { max-width: calc(100% - 20px); margin: 0 auto; }
  .answer .client.voice p { margin-top: -5px; }
  .answer .client.voice .col-xs-8 { padding-left: 0; }

}

/*--class--*/
.class { color: #fff; text-align: center; padding: 40px 0; background-image: url(../Images/classbg.jpg); background-position: center; background-size: cover; }
.classbox { padding: 40px 0; max-width: 780px; margin: 0 auto; }
.classwrap { background-color: #fff; border: 2px solid #016ea9; padding: 0; border-radius: 5px; }
.classwrap ul { padding: 0; margin: 0; }
.class ul li { padding: 10px; border-bottom: 1px dotted #e5e5e5; }
.class ul li:last-child { border-bottom: none; }
.classbox .txtm { background-color: #016ea9; padding: 15px; }
.classbox ul li { color: #000000; }
.class .txtxs { color: #fff; }
.class .txts { font-size: 16px; font-weight: 600; }

@media only screen and (min-width: 768px) and (max-width: 1190px) {
  .classbox { padding: 30px 10%; }
}

@media screen and (max-width: 768px) {
  .classbox { padding: 20px 10px; }
}

/*--classbottom--*/
.classbottom { background-color: #016ea9; padding: 40px 0; color: #fff; text-align: center; }
.classbottom .txtm { margin: 0; }
.classbottom .txtm { letter-spacing: 1.5px; }

@media screen and (max-width: 768px) {
  .classbottom { padding: 20px 0; }
  .classbottom .txtm { margin: 0; }
}

/*--flow--*/
.flow { text-align: center; padding: 40px 0; }
.flow h2, h3 { line-height: 40px; }
.flowimg { /*    width: 90%;*/ max-width: 100%; margin: 40px auto; }
.flowdetailsp { display: none; }
.flowbox { width: 1170px; max-width: calc(100% - 40px); overflow: hidden; border-radius: 10px; margin: 0 auto; padding: 10px 35px; background-color: #fef5e0; }
.flowbox p { margin: 20px 0; }
.flowleft { float: left; padding: 20px; width: 200px; }
.flowbox:nth-child(3) > .flowleft { margin-top: 40px; }
.flowleft img { max-width: 100%; }
.flowleft .txtm { font-size: 18px; margin-bottom: 0; }
.flowright { overflow: hidden; text-align: left; padding: 10px 0 0; }
.flowline { max-width: 100%; margin: 0 auto; /*    width: 70%;*/ }
.flow .txts { font-size: 16px; font-weight: 600; }

@media only screen and (min-width: 768px) and (max-width: 1190px) {
  .flow { padding: 20px 40px; }
  .flowline { width: calc(100% - 300px); }
}

@media screen and (max-width: 768px) {
  .flow { padding: 20px 0; }
  .flow h2 { margin-top: 20px; }
  .flowimg, .flowdetailpc { display: none; }
  .flowdetailsp { padding: 20px 15px; display: block; text-align: left; }
  .flowdetailsp img { width: 35px; height: 35px; margin-right: 15px; }
  .flow .panel-default { border: none; }
  .flowbody { border: none !important; background-color: #fef5e0; }
  .flowheading { cursor: pointer; background-color: #fef5e0 !important; color: #000000 !important; border: none !important; }

  .flow h4 { text-rendering: optimizeLegibility; background: rgba(0, 0, 0, 0); -webkit-font-smoothing: antialiased; }
  .flow .card { padding: 5px; border: none; }
  .flow .card-header .text-body { font-size: 15px; font-weight: 600; }
  .flow .card-body { background-color: #fef5e0; }
  .flow .txts, .flow .txtxs  { letter-spacing: 1.5px; }

  #accordion .card-header a[data-toggle="collapse"].collapsed::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f078";/* chevron-down */
    float: right;
  }

  #accordion .card-header a[data-toggle="collapse"]::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f077";/* chevron-up */
    float: right;
  }
}
