@charset "UTF-8";
body {
  height: 100%;
  font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic, sans-serif;
  line-height: 170%;
  letter-spacing: 0.05em;
  color: #2d2d2d;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'palt' 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h2 {
  font-size: 300%;
  font-weight: normal;
}

h3 {
  font-size: 130%;
  font-weight: normal;
}

a {
  color: inherit;
}

header .wrapper {
  width: 1000px;
  margin: 0 auto;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.btn a {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  background: #e83d1b;
  border: none;
  border-radius: 100px;
  padding: 16px 70px;
  margin-top: 50px;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: normal;
}

.btn a:hover {
  background-color: #dd3311;
}

.btn a {
  text-decoration: none;
}

header {
  padding: 190px 0 320px 0;
  background: url(../img/bg/main_v.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: #c1e8ed;
  text-align: left;
}

header h2 {
  margin: 0;
  padding: 0;
}

header h2 img {
  width: 354px;
  height: auto;
}

header h1 {
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  line-height: 2rem;
  margin-top: 0;
  margin-left: 6px;
  margin-bottom: 70px;
}

header.contact {
  padding: 80px 0;
  background: url(../img/bg/main_v.jpg) no-repeat;
  background-position: right;
  background-size: cover;
  text-align: left;
  position: relative;
}

header.contact h1 {
  margin-top: 80px;
  color: #FFF;
  font-size: 2.5rem;
  line-height: 50px;
  letter-spacing: 0.2px;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

nav {
  padding: 0;
  height: 70px;
  position: relative;
}

nav.sp {
  display: none;
}

#humberger {
  display: none;
}

nav.clone-nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  transition: .3s;
}

nav.clone-nav.sc-nav {
  background-color: #fff;
  box-shadow: 0 0 3px #ddd;
}

nav img {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 38px;
  width: 150px;
  height: auto;
  display: inline;
  vertical-align: middle;
}

nav ul.left {
  z-index: 2;
  position: absolute;
  left: 180px;
  top: 0;
  bottom: 0;
  margin: auto;
}

nav ul.right {
  z-index: 2;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

nav ul li {
  vertical-align: middle;
  height: 70px;
  font-size: 12px;
  display: inline-block;
  line-height: 65px;
  padding: 0 20px;
}

nav ul li.tel {
  height: 40px;
  line-height: 20px;
}

nav ul li a {
  -webkit-font-smoothing: antialiased;
  color: #191818;
  text-decoration: none;
}

nav ul li.contact {
  padding: 0;
}

nav ul li.contact a {
  vertical-align: middle;
  height: 70px;
  font-size: 12px;
  display: inline-block;
  line-height: 65px;
  padding: 0 50px;
  background: #e83d1b;
}

nav ul li.contact a {
  text-shadow: none;
  color: white;
}

nav ul li.contact a:hover {
  background-color: #dd3311;
  color: white;
}

.hidden_pc {
  display: none !important;
}

.hidden_sp {
  display: block !important;
}

#case {
  margin: 0 auto;
  padding: 180px 0 110px 0;
}

#case h2 {
  margin: -100px 0px 180px;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

#case .box {
  margin: 0 auto;
  text-align: center;
  display: flex;
}

#case .number {
  position: relative;
  margin-top: -170px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 1.2rem;
  letter-spacing: 1.7px;
}

#case h3 {
  font-size: 1.8rem;
  line-height: 1.8em;
  margin: 10px 0px;
}

#case h3 span {
  font-size: 1.2rem;
  line-height: 1.2em;
  display: block;
}

#case h4 {
  font-size: 1rem;
  padding-top: 20px;
  margin: 0px;
}

#case dl {
  width: 360px;
  margin: 0 5%;
  border-radius: 8px;
  box-shadow: 0 0 8px #c0bdbd;
}

#case dl:first-child {
  margin: 0;
}

#case dl:last-child {
  margin: 0;
}

#case dl:nth-child(2) dd:nth-child(3) p {
  margin-bottom: 21px;
}

#case dl:nth-child(3) dd:nth-child(3) p {
  margin-bottom: 21px;
}

#case dl dd {
  margin: 0;
  padding: 0px 0px 40px 0px;
  position: relative;
  z-index: 0;
}

#case dl dd:nth-child(3):after {
  border-top: 40px solid #FFFFFF;
  border-left: 182px solid #fad6d0;
  border-right: 178px solid #fad6d0;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0px;
}

#case dl dd:nth-child(4):after {
  border-top: 40px solid #fad6d0;
  border-left: 182px solid #f4a192;
  border-right: 178px solid #f4a192;
  content: "";
  position: absolute;
  z-index: 1;
  left: 0px;
}

#case dl dd:nth-child(4) {
  background: #fad6d0;
}

#case dl dd:last-child {
  background: #f4a192;
  color: #FFF;
  border-radius: 0 0 8px 8px;
  padding: 0px;
}

#case dl dd.taglist {
  position: relative;
  margin-top: -15%;
}

#case dl dd.taglist span.tag {
  padding: 0px 8px;
  border-radius: 3px;
  background-color: #e83d1b;
  font-size: 0.7em;
  color: #FFF;
  line-height: 2;
  display: inline-block;
  margin-right: 1%;
}

#case dl dd.taglist span.tag a {
  text-decoration: none;
}

#case dl dd.taglist:before,
#case dl dd.taglist:after,
#case dl dd:last-child:before,
#case dl dd:last-child:after {
  border: 0px;
}

#case dl dd p {
  text-align: left;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0px 20px;
  margin-bottom: 0px;
}

#case dl dd:last-child p {
  margin-bottom: 14px;
}

#case dl dd ul {
  text-align: left;
  font-size: 1em;
  margin: 20px 10px 20px -10px;
}

#case dl dd ul li {
  list-style: none;
  list-style-position: outside;
  margin: 5px 0px;
  font-size: 1em;
  line-height: 1.5em;
}

#case dl dd ul li:before {
  position: relative;
  top: 2px;
  left: -10px;
  content: "\f14a";
  font-family: "Font Awesome 5 Free";
  font-size: 18px;
  font-weight: 900;
  color: #FFFFFF;
}

#case dl dd .btn a {
  color: #e83d1b;
  font-size: 0.8rem;
  border: solid 1px #e83d1b;
  background: #FFF;
  border-radius: 100px;
  padding: 10px 80px;
  margin: 20px 0px;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: normal;
  letter-spacing: 2px;
}

#case dl dd .btn a:hover {
  color: #FFF;
  background-color: #dd3311;
}

#case dl.mamorio dt {
  position: relative;
  background: url(../img/bg/mamorio_b.jpg) no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
  padding: 50px 0px 150px 0px;
}

#case dl.mitsui dt {
  position: relative;
  background: url(../img/bg/mitsui_b.jpg) no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
  padding: 50px 0px 150px 0px;
}

#case dl.vaz dt {
  position: relative;
  background: url(../img/bg/vaz_b.jpg) no-repeat;
  background-size: cover;
  border-radius: 8px 8px 0px 0px;
  padding: 50px 0px 150px 0px;
}

#contact_t {
  padding: 100px 0;
  background: url(../img/bg/contact.jpg) no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  margin: 0 auto;
}

#contact_t h2 {
  font-size: 150%;
  margin: 0 auto;
  text-align: center;
  line-height: 200%;
  font-weight: normal;
  letter-spacing: 2px;
}

#contact_t .center {
  margin: 0px auto;
  text-align: center;
}

#contact_t .center p {
  font-size: 75%;
}

footer {
  background: #fafafa;
  padding: 30px 40px 20px;
}

footer .logo {
  margin-bottom: 40px;
}

footer .logo img {
  width: 258px;
  height: auto;
}

footer .logo_p {
  position: relative;
  top: 5px;
  display: inline-block;
}

footer .logo_p img {
  width: 80px;
  height: auto;
}

footer .logo_o {
  margin-bottom: 10px;
}

footer .logo_o:last-child {
  margin-bottom: 0px;
}

footer .logo_o img {
  width: 160px;
  height: auto;
}

footer .logo_o span {
  font-size: 0.7rem;
  margin-bottom: 5px;
  display: block;
}

footer .logo_r img {
  width: 160px;
  height: auto;
}

footer .logo_r span {
  font-size: 0.7rem;
  margin-bottom: 5px;
  display: block;
}

footer .logo_f img {
  width: 30px;
  height: auto;
}

footer .inline_b {
  display: inline-block;
  margin-right: 20px;
}

footer .c_right {
  font-size: 75%;
}

footer .sp_right {
  display: none;
}

footer .box {
  display: inline-block;
  vertical-align: top;
  padding-right: 5%;
}

footer .box:last-child {
  padding-right: 0;
}

footer .box ul {
  list-style-type: none;
  text-align: left;
  display: table-cell;
  padding-left: 0px;
  font-size: 0.75rem;
}

footer .box ul:last-child {
  margin-right: 0;
  padding-left: 40px;
}

footer .in_b {
  vertical-align: top;
  display: table;
  margin-bottom: 20px;
}

footer .box ul li {
  margin-bottom: 8px;
  font-size: 0.7rem;
  line-height: 1.7em;
}

footer .box ul li a {
  text-decoration: none;
}

footer .box ul li a:hover {
  text-decoration: underline;
}

footer .bnr a {
  font-size: 0.75rem;
  border: solid 1px #d6d6d6;
  padding: 10px 40px;
  display: inline-block;
  color: #2d2d2d;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
}

footer .bnr a {
  text-decoration: none;
}

footer .bnr a:hover {
  background: #d6d6d6;
}

footer .logo_p_sp {
  display: none;
}

footer .btn {
  display: none;
}

header.voice {
  background-position: center top;
  background-size: 100%;
  text-align: center;
  color: #FFF;
  padding: 220px 0 160px;
  display: block;
  position: relative;
  height: 100%;
}

header.voice::before {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: ' ';
}

header.voice .box {
  position: absolute;
  top: 23%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  text-align: center;
}

header.voice span.tag {
  margin-bottom: 15px;
  display: block;
}

header.voice h2 {
  font-size: 1.7em;
  line-height: 1.5em;
  margin: 0 auto 30px auto;
  text-align: center;
}

header.voice .case_c {
  margin: 0 auto;
  text-align: center;
  display: block;
}

header.voice .case_c img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  margin: 0 auto 10px auto;
  display: block;
}

#voice {
  padding: 120px 0px;
  background-color: #fafafa;
}

#voice .wrapper {
  width: 800px;
}

#voice .company_n {
  display: none;
}

#voice h2.sp {
  display: none;
}

#voice h3 {
  line-height: 2em;
  border-bottom: 2px solid #e83d1b;
  margin-top: 45px;
}

#voice p {
  line-height: 2em;
  margin: 30px 0;
  text-align: left;
}

#voice p.ask:before {
  content: "ー";
  margin-right: 5px;
}

#voice div.photo {
  margin: 30px 0px;
}

#voice div.photo img {
  width: 100%;
  height: auto;
}

#voice div.photo span {
  color: #cbcbcb;
}

#voice blockquote {
  position: relative;
  padding: 7px 16px;
  box-sizing: border-box;
  font-style: italic;
  color: #585858;
  margin: 50px 0px;
}

#voice blockquote:before {
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -10px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  content: "\f10d";
  font-family: "Font Awesome 5 Free";
  color: #e83d1b;
  font-size: 22px;
  font-weight: 900;
}

#voice blockquote:after {
  display: inline-block;
  position: absolute;
  bottom: -20px;
  right: 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  content: "\f10e";
  font-family: "Font Awesome 5 Free";
  color: #e83d1b;
  font-size: 22px;
  font-weight: 900;
}

#voice blockquote p {
  padding: 0;
  margin: 30px;
  line-height: 1.7;
}

ul.sns {
  margin: 10px auto;
  padding: 0px;
  text-align: center;
  display: block;
}

ul.sns li {
  display: inline-block;
}

ul.sns li a {
  text-decoration: none;
  padding: 5px 25px;
  color: #FFF;
}

ul.sns li.fb {
  background: #3b5998;
  margin-right: 2%;
}

ul.sns li.tw {
  background: #55acee;
}

#recruit {
  padding-top: 120px;
}

#recruit h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5em;
  letter-spacing: 1.7px;
}

#recruit h3 {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5em;
}

#recruit h4 {
  font-size: 1rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding: 0 55px;
}

#recruit h4:before,
#recruit h4:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

#recruit h4:before {
  left: 60%;
}

#recruit h4:after {
  right: 60%;
}

#recruit h4 span {
  position: relative;
  top: -10px;
  text-align: right;
  margin-top: 0px;
  font-size: 0.7rem;
  display: block;
}

#recruit h4 span img {
  position: relative;
  top: 20px;
}

#recruit .top p {
  margin: 30px 0px;
}

#recruit .top p.center_main {
  font-size: 1.5rem;
  text-align: center;
}

#recruit .top .center {
  margin: 50px auto 70px auto;
  text-align: center;
}

#recruit .day {
  margin-bottom: 100px;
}

#recruit .day h4 {
  background: #df8e7f;
  color: #FFF;
  padding: 5px 0px;
  border-radius: 10px;
  font-weight: normal;
}

#recruit .day h4:before,
#recruit .day h4:after {
  content: none;
}

#recruit .day .timeline {
  list-style: none;
}

#recruit .day .timeline>li {
  margin-bottom: 60px;
}

#recruit .day .timeline>li {
  overflow: hidden;
  margin: 0;
  position: relative;
}

#recruit .day .timeline-date {
  width: 110px;
  float: left;
  margin-top: 25px;
}

#recruit .day .timeline-content {
  width: 75%;
  float: left;
  border-left: 3px #e5e5d1 solid;
  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#recruit .day .timeline-content:before {
  content: '\2022';
  font-size: 60px;
  position: absolute;
  left: 100px;
  color: #e83d1b;
}

#recruit table {
  margin: 0px auto;
  padding: 30px 0px;
}

#recruit table th {
  padding: 30px;
  width: 25%;
  text-align: left;
  background: #df8e7f;
  color: #FFF;
  font-weight: normal;
  overflow: visible;
  position: relative;
  border-bottom: solid 10px #fff;
}

#recruit table td {
  padding: 30px;
  background: #fafafa;
  border-bottom: solid 10px #fff;
}

#recruit table th:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #df8e7f;
  border-width: 10px;
  margin-top: -10px;
}

#recruit .center {
  margin: 0 auto 70px auto;
  text-align: center;
}

#recruit h3.section_tl {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5em;
  margin: 40px 0px;
  top: 0px;
}

#recruit h3.section_tl:after {
  content: "";
  display: block;
  height: 3px;
  background: #dae6e8;
  margin: 20px 0px;
}

#recruit .assistant {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

#recruit .assistant .text-area {
  width: 47%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: inline-block;
}

#recruit .assistant .text-area:nth-child(2) {
  margin-right: 0;
}

#recruit .assistant .text-area:nth-child(3) {
  width: 50%;
  margin: 5% auto;
  display: inline-block;
}

#recruit .assistant .text-area h4 {
  position: relative;
  background-color: #df8e7f;
  color: #FFF;
  padding: 20px 20px 20px 4em;
  border-radius: 10px;
  margin-bottom: 30px;
  text-indent: -3em;
}

#recruit .assistant .text-area h4:before {
  content: none;
}

#recruit .assistant .text-area h4:after {
  right: 10%;
  top: 95%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #df8e7f;
  border-width: 25px;
  background-color: rgba(136, 183, 213, 0);
}

#recruit .assistant .text-area p {
  font-size: 0.95em;
  line-height: 2em;
  padding: 0px 15px;
}

#recruit .info .box {
  display: block;
  margin: 50px 0px;
}

#recruit .info .box .box_s {
  display: inline-block;
  margin: 0 2%;
  text-align: center;
}

#recruit .info .box .box_s:last-child {
  margin-right: 0;
}

#recruit .info .box .box_s img {
  width: 182px;
  height: auto;
}

#recruit .info .box .box_s p {
  margin: 10px auto;
}

#recruit .careersbtn a {
  color: #FFFFFF;
  background: #ff6666;
}

#recruit .careersbtn a:hover {
  color: #FFFFFF;
  background: #d85656;
}

#recruit .assistant .academy {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#recruit .assistant .academy p {
  font-size: 0.95em;
  line-height: 2em;
  padding: 0px 15px;
}

#recruit .assistant .academy img:hover {
  opacity: 0.5;
}

#contact {
  padding: 120px 0px;
}

#contact h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 1.5em;
  letter-spacing: 1.7px;
}

#contact h3 {
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5em;
}

#contact p {
  text-align: center;
  margin-bottom: 30px;
}

#contact p a:hover {
  text-decoration: none;
}

#contact table {
  width: 60%;
  margin: 50px auto;
}

#contact table th {
  width: 25%;
  vertical-align: top;
  padding: 15px 0px;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: left;
}

#contact table th span.must {
  content: "※";
  color: red;
  font-size: 8px;
  vertical-align: top;
  font-weight: bold;
  margin-left: 5px;
}

#contact table td {
  width: 75%;
}

#contact table select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#contact table input[type="text"],
#contact table input[type="email"],
#contact table textarea,
#contact table select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 5px;
  border: solid 1px #ddd;
  border-radius: 4px;
}

#contact table input[type="submit"] {
  width: 35%;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background: #e83d1b;
  border: solid 1px #e83d1b;
  border-radius: 100px;
  padding: 12px 20px;
  margin: 30px auto;
  display: inline-block;
  text-decoration: none;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: normal;
}

#contact table td.center {
  margin: 10px auto;
  text-align: center;
  font-size: 0.7rem;
  padding-top: 20px;
}

@media screen and (max-width:1174px) {
  #service ul.tab li {
    margin-right: 3%;
  }
  #case dl dd:nth-child(3):after {
    border-left: 163px solid #fad6d0;
  }
  #case dl dd:nth-child(4):after {
    border-left: 163px solid #f4a192;
  }
  #case dl dd:last-child p {
    margin-bottom: 35px;
  }
  #case dl:last-child dd:last-child ul {
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 1009px) and (max-width:1259px) {
  .btn {
    font-size: 1rem;
    padding: 0px;
  }
  .hidden_pc {
    display: none !important;
  }
  header .wrapper {
    width: 85%;
    margin: 0 auto;
  }
  header .main_copy {
    margin-left: 0;
    display: block;
  }
  .wrapper {
    width: 96%;
    margin: 0 auto;
  }
  header.voice.scroll .box {
    margin-top: 20px;
  }
  header.voice.scroll .case_c {
    top: -50px;
  }
  #intro .box {
    margin: 50px auto;
    text-align: center;
  }
  #philosophy .mv_box {
    margin: 0 1%;
  }
  #case dl dd:nth-child(3):after {
    border-right: 166px solid #fad6d0;
    border-left: 166px solid #fad6d0;
  }
  #case dl dd:nth-child(4):after {
    border-right: 166px solid #f4a192;
    border-left: 166px solid #f4a192;
  }
  #case dl:last-child dd:last-child ul {
    padding-bottom: 0px;
  }
  #client_l ul li {
    margin: 5px;
  }
  #plan #first_tab01 {
    padding-left: 18%;
    padding-right: 2%;
  }
  #plan #second_tab01,
  #plan #third_tab01 {
    padding-right: 2%;
  }
  #plan .cp_tabpanels {
    left: 0;
  }
  #plan dl dt {
    font-size: 75%;
  }
  #service ul.tab {
    width: 90%;
  }
  #plan dl.price01 {
    width: 200px;
  }
  #plan dl.price02 {
    width: 200px;
  }
  #plan dl.price03 {
    width: 200px;
  }
  #voice_list dl dt img {
    width: 100%;
  }
  #voice_list dl dd span.tag {
    margin-right: 0;
  }
  #voice_list dl dd span.day {
    font-size: 0.4em;
    right: 15px;
    letter-spacing: 0;
  }
  .list dl dt img {
    width: 100%;
  }
  .list dl dd {
    margin-top: 0px;
    margin-left: 0;
    padding: 10px 15px;
  }
  .list dl dd span.day {
    left: 0;
  }
  #recruit .info .box {
    margin: 50px auto;
    text-align: center;
  }
  #recruit .info .box .box_s {
    margin: 5%;
  }
  #recruit .info .box .box_s:nth-child(4) {
    margin: 5%;
  }
  #recruit .info .box .box_s:last-child {
    margin: 5%;
  }
  #recruit .info .box .box_s img {
    width: 140px;
  }
  #recruit .info .box .box_s p {
    font-size: 0.8rem;
    margin: 0 auto;
  }
  footer {
    padding: 30px 10px;
  }
  footer .box {
    padding-right: 2%;
  }
  footer .logo_o img {
    width: 120px;
  }
  footer .logo_r img {
    width: 120px;
  }
  footer .btn {
    display: none;
  }
}

@media screen and (max-width:1044px) {
  a[href^="tel:"] {
    cursor: default;
    text-decoration: underline;
  }
  header {
    padding: 300px 0px;
    background: url(../img/bg/main_v.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #c1e8ed;
    background-attachment: inherit;
  }
  header h2 {
    position: relative;
    top: -100px;
    margin: 20px auto -150px auto;
    text-align: left;
    font-size: 2.1rem;
    letter-spacing: 0.2px;
    -webkit-font-smoothing: antialiased;
    line-height: 50px;
  }
  header h2 br {
    display: none;
  }
  header h3 {
    font-size: 1rem;
    position: relative;
    top: 30px;
    margin-left: 20px;
    text-align: left;
  }
  .btn {
    font-size: 1rem;
    padding: 16px 34px;
  }
  .hidden_pc {
    display: none !important;
  }
  .wrapper {
    width: 96%;
    margin: 0 auto;
  }
  header .wrapper {
    width: 85%;
    margin: 0 auto;
  }
  nav {
    height: 50px;
  }
  nav ul.left,
  nav ul.right {
    display: none;
  }
  nav img {
    left: 10px;
  }
  nav.sp {
    width: 100%;
    position: fixed;
    top: 0px;
    z-index: 10;
    display: none
  }
  nav ul li.contact a {
    width: 100%;
    padding: 0px;
  }
  #humberger {
    position: fixed;
    top: 0px;
    left: 95%;
    height: 15px;
    width: 15px;
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    z-index: 6;
  }
  #humberger.active {
    top: -5px;
  }
  #humberger div {
    position: absolute;
    left: 0;
    height: 2px;
    width: 15px;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
  }
  #humberger div:nth-of-type(1) {
    top: 0;
  }
  #humberger div:nth-of-type(2) {
    top: 4px;
  }
  #humberger div:nth-of-type(3) {
    bottom: 5px;
  }
  #humberger.active div:nth-of-type(1) {
    top: 10px;
    left: 0px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #humberger.active div:nth-of-type(2),
  #humberger.active div:nth-of-type(3) {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  nav.sp ul {
    background-color: #FFF;
    padding: 20px;
    margin-top: 50px;
  }
  nav.sp ul li {
    font-size: 0.9em;
    height: 65px;
    text-align: center;
    display: block;
    font-weight: bold;
    margin: 7px 0px;
  }
  nav.sp ul li.tel {
    text-align: center;
    padding: 10px 50px 0px;
    margin: 30px 0px 10px 0px;
    font-weight: normal;
  }
  nav.sp ul li.tel a {
    text-shadow: none;
    line-height: 2em;
  }
  nav.sp ul li.contact {
    text-align: center;
  }
  nav.sp.active {
    display: block;
  }
  header .main_copy {
    margin-left: 0;
    display: block;
  }

  #intro {
    padding: 50px 0px;
  }
  #intro p.txt {
    font-size: 0.95em;
  }
  #intro .box {
    margin: 50px auto;
    text-align: center;
  }
  #intro .box_s {
    margin: 5%;
  }
  #intro .box_s:nth-child(4) {
    margin: 5%;
  }
  #intro .box_s:last-child {
    margin: 5%;
  }
  #intro .box_s img {
    width: 140px;
  }
  #intro .box_s h3 {
    margin: 10px auto 0px auto;
  }
  #intro .box_s p {
    font-size: 0.8rem;
    margin: 0 auto;
  }

  #voice_s .swiper-slide {
    border: 0px;
  }
  #voice_s .swiper-container {
    height: 350px;
  }
  #voice_s .swiper-slide .slide-inline h3 {
    font-size: 150%;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-image: url(../img/parts/arrow_l.png) !important;
    background-size: 15px 30px;
    left: 5%;
    width: 15px;
    height: 30px;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-image: url(../img/parts/arrow_r.png) !important;
    background-size: 15px 30px;
    right: 5%;
    width: 15px;
    height: 30px;
  }

  #philosophy {
    padding: 50px 0;
  }
  #philosophy .box {
    margin: 0 auto;
  }
  #philosophy .mv_box {
    display: block;
    margin-bottom: 50px;
  }

  #case .box {
    display: block;
  }
  #case dl {
    width: 350px;
    margin: 30px auto;
    text-align: center;
  }
  #case dl:first-child {
    margin: 0 auto;
  }
  #case dl:last-child {
    margin: 0 auto;
  }
  #case dl dd:nth-child(3):after {
    border-right: 175px solid #fad6d0;
    border-left: 175px solid #fad6d0;
  }
  #case dl dd:nth-child(4):after {
    border-right: 175px solid #f4a192;
    border-left: 175px solid #f4a192;
  }

  #client_l ul li img {
    width: 100px;
    height: auto;
  }
  #client_l ul {
    margin-left: -25px;
  }
  #client_l ul li {
    margin: 5px;
  }

  #contact_t {
    background-position: inherit;
  }
  #contact_t h2 {
    font-size: 160%;
    color: #FFF;
  }

  footer {
    padding: 50px 0px 0px 0px;
    margin: 0 auto;
    text-align: center;
  }
  footer .logo {
    margin-bottom: 0px;
    margin-top: 20px;
  }
  footer .in_b {
    display: block;
  }
  footer .box {
    display: block;
    padding-right: 0;
    margin: 0 auto;
  }
  footer .box ul li {
    display: block;
    margin: 35px 0;
  }
  footer .box ul {
    font-size: 0.9rem;
    display: block;
    text-align: center;
  }
  footer .box ul:last-child {
    padding-left: 0px;
  }
  footer .bnr {
    padding: 15px 38px;
    margin-bottom: 20px;
  }
  footer .logo_f {
    display: none;
    margin: 20px 0px;
  }
  footer .logo_p {
    display: none;
  }
  footer .logo_p_sp {
    margin: 40px 0px;
    display: block;
  }
  footer .logo_p_sp img {
    width: 100px;
    height: auto;
  }
  footer .btn {
    margin: 20px 0px;
  }
  footer .c_right {
    display: none;
  }
  footer .sp_right {
    font-size: 75%;
    display: block;
  }
  footer .btn {
    display: none;
  }

  header.voice {
    padding: 150px 0px;
  }
  header.voice .box {
    top: 45%;
  }
  header.voice h2 {
    display: none;
  }
  header.voice span.tag {
    position: absolute;
    top: -60px;
    left: 0px;
    right: 0px;
    text-align: center;
    margin-bottom: 10px;
  }
  header.voice .case_c {
    position: relative;
    top: -25px;
  }
  header.voice .case_c img {
    height: 50px;
    width: 50px;
  }
  #voice {
    padding: 60px 0px 50px 0px;
  }
  ul.sns {
    margin: 20px auto;
  }
  #voice .wrapper {
    width: 90%;
  }
  #voice p {
    font-size: 0.8em;
    line-height: 2em;
    margin: 10px 0px;
  }
  #voice .company_n {
    font-size: 0.8em;
    margin-bottom: 20px;
    line-height: 2em;
    border-bottom: 2px solid #e83d1b;
    display: block;
  }
  #voice h2.sp {
    font-size: 1.1em;
    margin: 20px auto;
    text-align: left;
    color: #333;
    display: block;
  }

  #recruit .top p b {
    line-height: 1.5em;
  }
  #recruit .info .box {
    margin: 50px auto;
    text-align: center;
  }
  #recruit .info .box .box_s {
    margin: 5%;
  }
  #recruit .info .box .box_s:nth-child(4) {
    margin: 5%;
  }
  #recruit .info .box .box_s:last-child {
    margin: 5%;
  }
  #recruit .info .box .box_s img {
    width: 140px;
  }
  #recruit .info .box .box_s p {
    font-size: 0.8rem;
    margin: 0 auto;
  }
  #recruit .assistant .text-area {
    width: 100%;
    margin-right: 0;
    margin-bottom: 5%;
    display: block;
  }
  #recruit .assistant .text-area h4 {
    padding: 20px;
    text-indent: 0;
    text-align: left;
  }
  #recruit .assistant .text-area:nth-child(3) {
    width: 100%;
    margin: 0 auto 5% auto;
    display: block;
  }
  #recruit .day .timeline-content {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  #recruit .day .timeline-content:before {
    content: none;
  }
  #recruit h4 {
    margin: 20px auto;
  }
  #recruit h4:before {
    left: 65%;
  }
  #recruit h4:after {
    right: 65%;
  }
  #recruit table {
    width: 100%;
    padding: 0px;
  }
  #recruit table th {
    width: 30%;
    padding: 20px 0px;
    text-align: center;
  }
  #recruit table th:after {
    right: 0;
    top: 50%;
    border-left-color: #df8e7f;
    border-right-color: transparent;
    border-width: 10px;
  }
  #recruit table td {
    display: block;
  }
  #recruit .center {
    margin: 20px auto 70px auto;
  }

  #contact table {
    width: 90%;
    margin: 20px auto;
  }
  #contact table th {
    width: 100%;
    padding: 15px 0px 5px 0px;
    display: block;
  }
  #contact table td {
    width: 100%;
    display: block;
  }
  #contact .formError .formErrorContent {
    width: 200px;
    margin-top: 0px;
    margin-left: -335px;
    top: 65px;
    left: 0px;
    display: block;
  }

  *:hover {
    transition: all .7s;
  }
}


@media (max-width: 480px) {
  .hidden_sp {
    display: none !important;
  }
  .hidden_pc {
    display: block !important;
  }
  #humberger {
    left: 90%;
  }
  header {
    padding: 300px 0px;
    background: url(../img/bg/main_v_sp.jpg) no-repeat;
    background-position: bottom;
    background-size: cover;
    background-color: #c1e8ed;
    background-attachment: inherit;
  }
  header h2 {
    top: -230px;
    text-align: center;
  }
  header h2 img {
    width: 300px;
  }
  header h3 {
    font-size: 0.8rem;
    top: -100px;
    margin-left: 0px;
    text-align: center;
  }
  header.voice {
    margin-top: 50px;
    padding: 100px 0px;
  }
  header.voice span.tag {
    top: -50px;
  }
  nav ul li.contact a {
    font-size: 1.1em;
    ;
    line-height: 75px;
    font-weight: normal;
  }
  #contact_t h2 {
    font-size: 120%;
    text-shadow: 0 0 10px rgba(9, 11, 93, 0.76), 0 0 15px rgba(9, 11, 93, 0.76);
  }
  #voice_s .swiper-slide .slide-inline h3 {
    font-size: 0.85rem;
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    background-size: 10px 25px;
    width: 10px;
    height: 25px;
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    background-size: 10px 25px;
    width: 10px;
    height: 25px;
  }
  #client_l ul {
    margin-left: -30px;
  }
  #case .box {
    display: block;
  }
  #case dl {
    width: 350px;
    margin: 170px auto;
    text-align: center;
  }
  #case dl:first-child {
    margin: 0 auto;
  }
  #case dl:last-child {
    margin: 0 auto;
  }
  #case dl dd:nth-child(3):after {
    border-right: 175px solid #fad6d0;
    border-left: 175px solid #fad6d0;
  }
  #case dl dd:nth-child(4):after {
    border-right: 175px solid #f4a192;
    border-left: 175px solid #f4a192;
  }

  #recruit {
    padding: 50px 0px;
  }
  #recruit h2 {
    margin-bottom: 0px;
  }
  #recruit h3 {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  #recruit h3.section_tl {
    text-align: center;
  }
  #recruit h3.section_tl:after {
    margin: 10px 0px;
  }
  #recruit .top p.center_main {
    font-size: 1.3rem;
  }
  #recruit table th {
    width: 100%;
    display: block;
    text-align: center;
  }
  #recruit .top .center {
    margin: 0px auto;
  }
  #recruit .center {
    margin: 0px auto
  }
  #recruit .center .btn a {
    margin-top: 0px;
  }
  #recruit .info .box {
    margin: 20px auto;
  }
  #recruit h4 {
    margin: 50px auto 10px auto;
  }
  #recruit h4:before {
    left: 80%;
  }
  #recruit h4:after {
    right: 80%;
  }
  #recruit table th:after {
    left: 45%;
    top: 110%;
    border-top-color: #df8e7f;
    border-left-color: transparent;
    border-width: 20px;
  }
  #recruit .btn {
    padding: 16px 0px;
  }
  #recruit .assistant .academy p {
    font-size: 0.95em;
    line-height: 2em;
    padding: 0px 15px;
  }
  #contact {
    padding: 50px 0px;
  }
  #contact h2 {
    margin-bottom: 0px;
  }
  #contact h3 {
    margin-top: 0px;
    margin-bottom: 30px;
  }

  footer .inline_b {
    display: none;
  }
  footer .box ul li {
    margin: 20px 0;
  }
  footer .bnr {
    padding: 15px 0px;
  }
  footer .bnr a {
    font-size: 0.7rem;
  }
  footer .logo_p_sp {
    margin: 40px 0px 10px 0px;
  }
  footer .logo_p_sp img {
    width: 80px;
  }
  footer .sp_right {
    margin-bottom: 100px;
  }
  footer .btn a.f_btn {
    margin-top: 0px;
    padding: 20px 85px;
    font-size: 1rem;
  }
  footer .btn span a {
    display: block;
    color: rgb(45, 45, 45);
    padding: 0px;
    margin-top: 20px;
    background: #fafafa;
  }
  footer .btn {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0px auto;
    padding: 10px 0px;
    width: 100%;
    z-index: 9;
    background: rgb(250, 250, 250, 0.5);
  }
  footer .btn a.f_btn {
    margin: 10px 0px;
    padding: 20px 84px;
    font-size: 1rem;
  }
  footer .tel_f {
    margin-bottom: 35px;
  }
  footer .tel_f span a {
    display: block;
    color: rgb(45, 45, 45);
    padding: 0px;
    background: #fafafa;
    border: none;
  }

}

@media (max-width:320px) {
  #case dl {
    width: 300px;
  }
  #case dl dd:nth-child(3):after {
    border-left: 150px solid #fad6d0;
    border-right: 150px solid #fad6d0;
  }
  #case dl dd:nth-child(4):after {
    border-left: 150px solid #f4a192;
    border-right: 150px solid #f4a192;
  }

}

@media (max-width:724px) {
  #recruit .assistant .academy img {
    width: 100%;
    max-width: 92%;
    height: auto;
  }
}